@using SporWebDeneme1.Entities.Models
@model CourseSessionViewModel
@{
	var courses = ViewBag.Courses as List<SporWebDeneme1.Entities.Models.Course>;
	var instructors = ViewBag.Instructors as List<SporWebDeneme1.Entities.Models.ApplicationUser>;
	var assignments = ViewBag.Assignments as List<SporWebDeneme1.Entities.Models.BranchAssignment>;
}

<h2 class="display-4">Grubu Düzenle</h2>

<form asp-action="Edit" method="post" class="lead fw-normal mb-5">
	<div class="text-danger" asp-validation-summary="All"></div>
	<input type="hidden" asp-for="IsActive" value="true" />
	<input type="hidden" asp-for="CourseSessionId" value="@Model.CourseSessionId" />
	<input type="hidden" name="returnUrl" id="returnUrl" value="@ViewBag.ReturnUrl" />
	<div class="form-group my-2">
		<label>Kurs Seç</label>
		<select asp-for="CourseId" class="form-control" required>
			@if (courses is not null)
			{

				foreach (var course in courses)
				{
					<option value="@course.CourseId">@course.Title</option>
				}
			}
		</select>
	</div>

	<div class="form-group my-2">
		<label>Eğitmen Seç</label>
		<select asp-for="UserId" class="form-control" required>
			@foreach (var instructor in instructors)
			{
				<option value="@instructor.Id">@($"{instructor.Name} {instructor.Surname}")
					(Branş: @(assignments.Where(x => x.UserId == instructor.Id).Select(x => x.Branch.Name).FirstOrDefault())) (@instructor.UserName)
				</option>
			}
		</select>
	</div>
	<div class="form-group my-2">
		<label>Grup Başlığı</label>
		<input asp-for="Title" class="form-control" / required>
	</div>

	<div class="form-group my-2">
		<label>Grup Açıklaması</label>
		<textarea asp-for="Description" class="form-control" required></textarea>
	</div>
	<button type="submit" class="btn btn-success">Oturumu Kaydet</button>
</form>
