<!--Pending Registrations-->
@model IEnumerable<SporWebDeneme1.Entities.Models.Registration>
@{
	ViewData["Title"] = "Pending Registrations";
	var nullMessage = TempData["Message"] as string;
	var errorMessage = TempData["ErrorMessage"] as string;
	var approveMessage = TempData["approveMessage"] as string;
	var rejectMessage = TempData["rejectMessage"] as string;
}
@{
	if (!string.IsNullOrEmpty(errorMessage))
	{
		<div class="alert alert-danger">@errorMessage</div>
	}
	if (!string.IsNullOrEmpty(approveMessage))
	{
		<div class="alert alert-success">@approveMessage</div>
	}
	if (!string.IsNullOrEmpty(rejectMessage))
	{
		<div class="alert alert-danger">@rejectMessage</div>
	}
}
<h2>Başvurular</h2>
<form method="get" asp-action="PendingRegistrations">
	<button type="submit" class="btn btn-primary my-3">
		<i class="fa fa-arrows-rotate"></i>
		Yenile
		</button>
</form>

@if (!string.IsNullOrEmpty(nullMessage))
{
	<div>@nullMessage</div>
}
else
{

	<table class="table">
		<thead>
			<tr>
				<th>Registration ID</th>
				<th>Student Name</th>
				<th>Course Name</th>
				<th>Registration Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var registration in Model)
			{
				<tr>
					<td>@registration.RegistrationId</td>
					<td>@registration.ApplicationUser.Name</td>
					<td>@registration.Course.Title</td>
					<td>@registration.RegistrationDate.ToShortDateString()</td>
					<td>
						<form method="post" class="d-inline" asp-action="PendingRegistrations">
							<input type="hidden" name="id" value="@registration.RegistrationId" />
							<input type="hidden" name="isApproved" value="true" />
							<button type="submit" class="btn btn-success">Onayla</button>
						</form>
						<form method="post" class="d-inline" asp-action="PendingRegistrations">
							<input type="hidden" name="id" value="@registration.RegistrationId" />
							<input type="hidden" name="isApproved" value="false" />
							<button type="submit" class="btn btn-danger">Reddet</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>

}